<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Customer View</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- *** CART *** -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingCart">
            <strong class="panel-title">
              <a href="#collapseCart" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseCart">
                Cart
              </a>
            </strong>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Items in your cart:
            <span class="badge">{{ totalCartItemQuantity }}</span>
          </div>
          <div id="collapseCart" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCart">
            <div class="panel-body fixed-panel">
              <div class="row">
                <div class="col-md-12">
                  <span>Total items in cart: {{ totalCartItemQuantity }}</span>
                  <span class="cart-update-message">{{ cartUpdateMessage }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table">
                      <tr ng-repeat="item in cart">
                        <td>
                        <strong>{{ item.product.name }}</strong><br/>
                        {{ item.product.description }}<br/>
                        ${{ item.product.price }} x <input class="cart-qty-input" type="text" ng-model="item.qty"/>
                        = ${{ item.totalPrice }}
                        </td>
                        <td>
                          <a class="link" ng-click="updateCart(userSelection, item)"><span class="glyphicon glyphicon-refresh"></span>
                            Update Quantity</a><br/>
                          <a class="link" ng-click="item.qty = 0; updateCart(userSelection, item)"><span class="glyphicon glyphicon-minus-sign"></span>
                            Remove Item</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              Total Cart Amount: ${{ totalCartAmount }}
              <button class="btn btn-default" data-toggle="modal" data-target="#checkoutModal">Checkout</button>
            </div>
          </div>
        </div>
        <!-- *** End CART *** -->

        <!-- *** SEARCH *** -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSearch">
            <strong class="panel-title">
              <a href="#collapseSearch" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseCart">
              Search Products
              </a>
            </strong>
          </div>
          <div id="collapseSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSearch">
            <div class="panel-body">
              <div class="navbar-form navbar-left">
                <div class="table-responsive form-group">
                  <table class="table">
                    <tr>
                      <td>Product Name:</td><td><input type="text" class="form-control" ng-model="prod.productName"/></td>
                    </tr>
                    <tr>
                      <td>Product ID:</td><td><input type="text" class="form-control" ng-model="prod.productId"/></td>
                    </tr>
                    <tr>
                      <td>Product Type:</td><td>
                        <select name="productType" ng-model="prod.productType" class="form-control" style="width:100%"
                          ng-options="type for type in productCategories"></select>
                        <!-- <input type="text" class="form-control" ng-model="prod.productType"/> -->
                      </td>
                    </tr>
                  </table>
                </div>
                <div>
                  <button class="btn btn-default" ng-click="getProducts(prod)">Find Product</button>
                  <button class="btn btn-default" ng-click="clearFormFields(prod)">Clear Search</button>
                </div>
                <div class="error-message">{{ errorMessage }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- *** End SEARCH *** -->

        <!-- *** PRODUCT CATEGORIES *** -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong class="panel-title">
              Product Categories
            </strong>
          </div>
          <div class="panel-body">
            <product-categories get-products="getProducts"></product-categories>
          </div>
        </div>
        <!-- *** End PRODUCT CATEGORIES *** -->

      </div> <!-- *** End Panel-Group *** -->
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong class="panel-title">Products</strong>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>
                    Product Name
                  </th>
                  <th>
                    Description
                  </th>
                  <th>Qty</th>
                  <th>Action</th>
                </tr>
                <tr ng-repeat="product in products">
                  <td>
                    {{ product.name }}
                  </td>
                  <td>
                    {{ product.description}}<br/>
                    Unit price: ${{ product.price }}
                  </td>
                  <td>
                    <input type="text" id="{{ product._id }}_qty" class="product-list-qty-input form-control" value="1">
                  </td>
                  <td>
                    <a class="link" ng-click="addToCart(product, userSelection)"><span class="glyphicon glyphicon-plus-sign"></span>
                      <span class="icon-label">Add to Cart</span></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->

  <!-- *** CHECKOUT MODAL *** -->
  <modal-dialog modal-identifier="checkout" modal-title="Checkout"
    action-button-label="Complete Purchase"
    action-button-function="completePurchase"
    action-button-param="userSelection"
    close-button-label="Cancel / Edit Cart">

  <!-- <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="checkoutModalLabel">Checkout</h4>
        </div> -->
        <div class="modal-body">
          <div>You are about to purchase the following products:</div>

          <div class="row">
            <div class="col-md-12">
              <span>Total items in cart: {{ totalCartItemQuantity }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <tr ng-repeat="item in cart">
                    <td>
                    <strong>{{ item.product.name }}</strong><br/>
                    {{ item.product.description }}<br/>
                    ${{ item.product.price }} x {{ item.qty }}
                    = ${{ item.totalPrice }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel / Edit Cart</button>
          <button type="button" class="btn btn-primary" ng-click="completePurchase(userSelection)">Complete Purchase</button>
        </div> -->
      <!-- </div>
    </div>
  </div> -->
  </modal-dialog>
  <!-- *** End CHECKOUT MODAL *** -->


</div>
