<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Customer View</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p><strong>Search Products</strong></p>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>Product Name:</td><td><input type="text" ng-model="prod.productName"/></td>
          </tr>
          <tr>
            <td>Product ID:</td><td><input type="text" ng-model="prod.productId"/></td>
          </tr>
          <tr>
            <td>Product Type:</td><td><input type="text" ng-model="prod.productType"/></td>
          </tr>
        </table>
      </div>
      <div>
        <button ng-click="getProducts(prod)">Find Product</button>
      </div>
      <div class="error-message">{{ errorMessage }}</div>
    </div>
    <div class="col-sm-5">
      <p><strong>Products</strong></p>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>
              Product Name
            </th>
            <th>
              Description
            </th>
          </tr>
          <tr ng-repeat="product in products">
            <td>
              {{ product.name }}
            </td>
            <td>
              {{ product.description}}
            </td>
            <td>
              <input type="text" id="{{ product._id }}_qty" value="0">
              <button ng-click="addToCart(product, userSelection)">Add to cart</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      Cart:
      <ul>
        <li ng-repeat="item in cart">{{ item.product }}, qty: {{ item.qty }}</li>
      </ul>
    </div>
  </div>
</div>
