<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Login</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="panel-title">Login / Create Account</strong>
        </div>
        <div class="panel-body">
          <form name="loginForm" class="navbar-form navbar-left" ng-submit="">
            <div class="form-group table-responsive">
              <table class="table">
                <tr>
                  <td>Email Address:</td><td><input type="text" class="form-control" ng-model="login.emailAddress"></td>
                </tr>
                <tr>
                  <td>Password:</td><td><input type="password" class="form-control" ng-model="login.password"></td>
                </tr>
              </table>
            </div>
            <div>
              <input type="submit" class="btn btn-default" id="login" value="Login"/>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>


</div>
